<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style1.css" />
  </head>

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <body>
    <div class="container">
      <div class="main-img">
        <img src="images/img1.jpg" id="current" style="height: 100%" />
      </div>

      <div class="imgs scrollmenu" style="height: auto">
        <img src="images/img1.jpg" />
        <img src="images/img2.jpg" />
        <img src="images/img3.jpg" />
        <img src="images/img4.jpg" />
        <img src="images/img5.jpg" />
        <img src="images/img6.jpg" />
        <img src="images/img7.jpg" />
        <img src="images/img8.jpg" />
        <img src="images/img9.jpg" />
        <img src="images/img10.jpg" />
        <img src="images/img11.jpg" />
        <img src="images/img12.jpg" />
      </div>
    </div>
    <script src="/javascripts/test.js"></script>
  </body>
</html>
